<!-- <nav id="nav" >
	<div class="row col-xs-12 text-center">
		<ul>
		{% set i = 1 %}
		{% for item in items %}
			<li class="{% if i == 1  %} active  {% endif %}">
				<a href="#{{ item.content['#paragraph'].field_scroll_title.value }} {% if i == 1  %} {% endif %}">{{ item.content['#paragraph'].field_scroll_title.value }}</a>
			</li>
			{% set i = i + 1 %}
		{% endfor %}
		</ul>
	</div>
</nav>

<div class="scrollspy-content">
	{% for item in items %}
		<section class="scrollspy" id="{{ item.content['#paragraph'].field_scroll_title.value }}">
			{{ item.content['#paragraph'].field_scroll_description.value|raw }}
		</section>
	{% endfor %}
</div> 








 -->
 
 <div class="node__content clearfix">
    <nav id="nav" class="navbar navbar-template">
        <div class="row col-xs-12 text-center">
          <ul>
                                   <li class="active">
              <a href="#Home1">Home1</a>
            </li>
                                     <li class="">
              <a href="#About1">About1</a>
            </li>
                                     <li class="">
              <a href="#Contact1">Contact1</a>
            </li>
                                 </ul>
        </div>
      </nav>
<div style="margin-left: 150px;background: aliceblue;">
              <section class="scrollspy" id="Home1">
        <ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

        </section>
              <section class="scrollspy" id="About1">
        <ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

        </section>
              <section class="scrollspy" id="Contact1">
        <ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>On its new night/time,&nbsp;<strong>S.W.A.T.</strong>&nbsp;averaged 1.28 A25-54 Live+7 rating and 6.979M total viewers this Fall on Friday nights</li>
	<li>The only drama on broadcast to improve on its prior season average among total viewers, growing +18% in Live+7</li>
	<li>91% retention among A25-54 from prior season, 3rd best retention among dramas this season</li>
	<li>Friday's #1 program in A25-54 on broadcast and #3 among total viewers</li>
	<li>December 3rd telecast hits a season high in both A25-54 and total viewers</li>
	<li>With 7 days of delayed viewing,&nbsp;<strong>S.W.A.T.&nbsp;</strong>grows +66% in A25-54 and +42% among total viewers from its Live+SD deliveries</li>
	<li>#2 program among African Americans on CBS this season, behind&nbsp;<em>The Equalizer</em></li>
	<li>Moves to Sundays 10PM starting on January 2nd, 2022</li>
</ul>

        </section>
      	  </div> 
  </div>